:root {
  --black: #333;
  --fullWidth: 100%;
  --marginBtm: 20px;
}

main {
  margin: 24px 16px;
}

label,
input {
  display: block;
  width: var(--fullWidth);
  max-width: 400px;
}

label:not(last) {
  margin-bottom: var(--marginBtm);
}

input {
  line-height: 2;
}

.pass-confirm,
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.pass-confirm p {
  line-height: 1;
  margin: 0;
}

.range {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
